body {
    background-color: black;
    align-items: center;
}

a {
    text-decoration: none;
    text-shadow: none;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 100%;
}

#all-movies {
    box-sizing: border-box;
    /* min-height: 200px;  */
    background-color: white;
}